
*{
  margin: 0%;
}

html{
    background: linear-gradient(to right ,rgb(233, 107, 240) ,rgb(230, 98,98) ,rgb(216, 149, 215)); 
}

  .card:hover {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .menu{
    width: 100%;
    height: 80px;
    margin: 0%;
    background: linear-gradient(to right ,rgb(233,107,240) ,rgb(230, 98,98) ,rgb(216, 149, 215)); 
  }
 
  

  @media only screen and (max-width: 600px) {
    h1{
      font-family: 'Gill Sans';
      font-size: 40px;
      text-align: center;
      padding: 0,5cm 4cm;
      border: 6px solid rgb(0, 0, 0); 
  }
    
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      font-family: 'Times New Roman';
      background-color: rgb(255, 255, 255);
      width: 200px;
      height: auto;
      border-radius: 20px;
      padding: 50px;
      margin: 20px auto;
      background-color: white;
      word-wrap: break-word;
    }
  
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    h1{
      font-family: 'Gill Sans';
      font-size: 50px;
      text-align: center;
      padding: 0,5cm 4cm;
      border: 6px solid rgb(0, 0, 0);
  }
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      font-family: 'Times New Roman';
      background-color: rgb(255, 255, 255);
      width: 200px;
      height: auto;
      border-radius: 20px;
      padding: 50px;
      margin: 20px auto;
      background-color: white;
      word-wrap: break-word;
    }
    
   
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    h1{
      font-family: 'Gill Sans';
      font-size: 60px;
      text-align: center;
      padding: 0,5cm 4cm;
      border: 6px solid rgb(0, 0, 0);
     
  }
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      font-family: 'Times New Roman';
      background-color: rgb(255, 255, 255);
      width: 400px;
      height: auto;
      border-radius: 20px;
      padding: 50px;
      margin: 20px auto;
      background-color: white;
      word-wrap: break-word;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    h1{
      font-family: 'Gill Sans';
      font-size: 70px;
      text-align: center;
      padding: 0,5cm 4cm;
      border: 6px solid rgb(0, 0, 0) ;
      margin: 10px 10px;
  }
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      font-family: 'Times New Roman';
      background-color: rgb(255, 255, 255);
      width: 500px;
      height: auto;
      border-radius: 20px;
      padding: 50px;
      margin: 20px auto;
      background-color: white;
      word-wrap: break-word;
    }
  }
   
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    h1{
      font-family: 'Gill Sans';
      font-size: 70px;
      text-align: center;
      padding: 0,5cm 4cm;
      border: 6px solid rgb(0, 0, 0);
      margin: 10px 250px;
  }
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      font-family: 'Times New Roman';
      background-color: rgb(255, 255, 255);
      width: 600px;
      height: auto;
      border-radius: 20px;
      padding: 50px;
      margin: 20px auto;
      background-color: white;
      word-wrap: break-word;
    }
    
  }

  h4{
    font-family: 'Gill Sans';
  }

